name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  rust:
    name: Rust
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: cache ~/.cargo
      uses: Swatinem/rust-cache@v2
    - name: rustup install
      uses: actions-rs/toolchain@v1.0.7
      with:
        toolchain: stable
        profile: minimal
        override: true
    - name: cargo test
      uses: actions-rs/cargo@v1.0.3
      with:
        command: test
        args: --no-fail-fast
